$defaultBlue: #4a86e0;
$defaultOrange: #ecb338;
$defaultGray: rgb(160, 154, 154);
$lightGray: lightgray;

.colorDefaultBlue{
    color: $defaultBlue;
}

.FlightCard{
    width: 100%;
    background-color: $defaultBlue;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    .FlightCard_top{
        color: #fff;
        text-align: end;
        padding: 7px 20px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .flightCard_flightinfo{
        display: flex;
        flex-direction: column;
        gap: 3px;

        .flightCard_segmentinfo{
            background-color: #fff;
            border-radius: 5px;
            padding: 10px;

            .flightCard_segmentinfo_timeInfo{
                padding: 10px;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid $lightGray;
            }
            
            .flightCard_stops{
                display: flex;
                align-items: center;
                .flightCard_stop{
                    text-wrap: nowrap;
                    padding: 0 8px;
                    color: $defaultOrange;
                }
                .thinline{
                    display: inline-block;
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px solid $defaultGray;
                }
            }
        }
    }
    
    .flightCard_selectButton{
        background-color: $defaultOrange;
        border: none;
        padding: 15px;
        cursor: pointer;
        color: #fff;
    }
}

